{% extends "admin.html" %}

{% block content %}
{{ error }}
<table class="table">
<thead>
    <tr>
        <th scope="col">Users</th>
    </tr>
</thead>
<tbody>

    <div>

      {% for row in data %}
        <form action = "/buildings" method = post>
          <tr>
            <td> {{row.numb_building}} </td>
              <td> {{row.json}} </td>
          </tr>
        </form>
      {% endfor %}
    </div>
</tbody>
</table>

<div>
    <form action = "/buildings" method = post>
       <fieldset>
           {{ form.hidden_tag() }}
           <legend>Add a faculties</legend>
           <div style = font-size:20px; font-weight:bold; margin-left:150px;>
              <div>
                  {{  form.numb_building.label  }}    {{  form.numb_building  }}
                  {{ form.json.label }}               {{ form.json }}
              </div>

             {{ form.submit }}
          </div>

       </fieldset>
    </form>
</div>

{% endblock %}