{% extends "admin.html" %}

{% block content %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Requests</th>
            </tr>
        </thead>
        <tbody>
        {% for row in data %}
        <form action = "/requests" method = post>
            <tr >
                <td> {{row.id}} </td>
                <td> {{row.login}} </td>
                <td> {{row.building}} </td>
                <td> {{row.audience}} </td>
                <td> {{row.time}} </td>
                <td> {{row.data}} </td>

                <td>
                    <button type="submit" class="btn btn-danger" name="del" value="{{row.id}}">Delete</button>
                </td>
            </tr>
        </form>
        {% endfor %}

        </tbody>
    </table>
    <form action = "/requests" method = post>
        <button type="submit" class="btn btn-danger" name="del_oll" value="{{form.login.data}}">Clear</button>
    </form>
 </div>

{% endblock %}